body {
  margin: 0;
  padding: 0;
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 500px;
  background: steelblue;
}

#sidebar {
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  width: 300px;
}
